[submodule "experiments/neural_networks_chomsky_hierarchy/neural_networks_chomsky_hierarchy"]
	path = experiments/neural_networks_chomsky_hierarchy/neural_networks_chomsky_hierarchy
	url = https://github.com/tristangaudreault/neural_networks_chomsky_hierarchy.git
	branch = develop
[submodule "experiments/xlstm/xlstm"]
	path = experiments/xlstm/xlstm
	url = https://github.com/NX-AI/xlstm.git
